@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1% 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav img {
    max-width: 100%;
    object-fit: contain;
}

body {

    background: url('/static/img/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1,
h3,
p,
li {
    color: #FFFFFF;
}

h1 {
    margin-top: 5%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    /* identical to box height */
    text-align: center;
    text-transform: capitalize;
}

h3 {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

}

label[for=inputtext] {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    text-align: center;
    color: #ECF8F7;
}

#inputtext {
    display: flex;
    flex-direction: row;
    width: 70vw;
    align-items: flex-start;
    padding: 10px 16px;
    gap: 10px;

    background: #FFFFFF;
    border-radius: 12px;
}

input[type=submit] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
    margin: auto;

    background: #ABC5FE;
    box-shadow: inset 0px 5px 5px rgba(85, 91, 110, 0.15);
    border-radius: 30px;
    border-style: none;
}